@import "tailwindcss";

@font-face {
  font-family: "Fraunces";
  src: url("/fonts/fraunces/Fraunces_144pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@theme {
  --color-green: #44FFA1;

  --color-purple-900: #24053E;
  --color-purple-500: #584D62;
  --color-purple-100: #FCF8FF;

  --font-manrope: "Manrope", sans-serif;
  --font-fraunces: "Fraunces", Arial;
  --text-base: 16px;
  --leading-base: 180%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Manrope", sans-serif;
}